In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\NewUser\Downloads\Dirty Data.csv")
df.head()

,Rank,Peak,All Time Peak,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2023–2024,56,"$13,928,571",[1]
1,2,1,7[2],"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,2023,56,"$10,353,571",[3]
2,3,1[4],2[5],"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,"$4,835,294",[6]
3,4,2[7],10[7],"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,2018–2019,156,"$2,546,795",[7]
4,5,2[4],NaN,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,2018,53,"$6,522,173",[8]

In [3]:
df.dtypes

Rank                              int64
Peak                             object
All Time Peak                    object
Actual gross                     object
Actual gross(in 2022 dollars)    object
Artist                           object
Tour title                       object
Year(s)                          object
Shows                             int64
Average gross                    object
Ref.                             object
dtype: object

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Rank                           20 non-null     int64
 1   Peak                           9 non-null      object
 2   All Time Peak                  6 non-null      object
 3   Actual gross                   20 non-null     object
 4   Actual gross(in 2022 dollars)  20 non-null     object
 5   Artist                         20 non-null     object
 6   Tour title                     20 non-null     object
 7   Year(s)                        20 non-null     object
 8   Shows                          20 non-null     int64
 9   Average gross                  20 non-null     object
 10  Ref.                           20 non-null     object
dtypes: int64(2), object(9)
memory usage: 1.8+ KB

In [8]:
df.describe(include='all')

,Rank,Peak,All Time Peak,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
count,20.000000,9,6,20,20,20,20,20,20.000000,20,20
unique,NaN,7,6,20,20,9,20,16,NaN,20,20
top,NaN,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2013–2014,NaN,"$13,928,571",[1]
freq,NaN,2,1,1,1,4,1,3,NaN,1,1
mean,10.450000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.000000,NaN,NaN
std,5.942488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.507617,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.000000,NaN,NaN
25%,5.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.000000,NaN,NaN
50%,10.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.000000,NaN,NaN
75%,15.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,134.500000,NaN,NaN
max,20.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325.000000,NaN,NaN

In [6]:
df.isnull().sum()

Rank                              0
Peak                             11
All Time Peak                    14
Actual gross                      0
Actual gross(in 2022 dollars)     0
Artist                            0
Tour title                        0
Year(s)                           0
Shows                             0
Average gross                     0
Ref.                              0
dtype: int64

In [7]:
df.duplicated().sum()

0

In [9]:
df.columns

Index(['Rank', 'Peak', 'All Time Peak', 'Actual gross',
       'Actual gross(in 2022 dollars)', 'Artist', 'Tour title', 'Year(s)',
       'Shows', 'Average gross', 'Ref.'],
      dtype='object')

In [10]:
import re

cols = ['Ref.']

df.loc[:, cols] = df.loc[:, cols].astype(str).applymap(
    lambda x: re.sub(r"[^a-zA-Z0-9]", "", x) 
)

In [11]:
df.describe(include='all')

,Rank,Peak,All Time Peak,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
count,20.000000,9,6,20,20,20,20,20,20.000000,20,20
unique,NaN,7,6,20,20,9,20,16,NaN,20,20
top,NaN,1,2,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,2013–2014,NaN,"$13,928,571",1
freq,NaN,2,1,1,1,4,1,3,NaN,1,1
mean,10.450000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.000000,NaN,NaN
std,5.942488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,66.507617,NaN,NaN
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.000000,NaN,NaN
25%,5.750000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.000000,NaN,NaN
50%,10.500000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.000000,NaN,NaN
75%,15.250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,134.500000,NaN,NaN
max,20.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,325.000000,NaN,NaN

In [12]:
df.columns = df.columns.str.replace('\xa0', ' ', regex=False)
print([col for col in df.columns])

['Rank', 'Peak', 'All Time Peak', 'Actual gross', 'Actual gross(in 2022 dollars)', 'Artist', 'Tour title', 'Year(s)', 'Shows', 'Average gross', 'Ref.']

In [13]:
def clean_text(text):
    text = re.sub(r"\[\s*.*?\s*\]", "" , text)#remove anything inside [] including these.
    text = re.sub(r"[^a-zA-Z0-9]", "" , text)#remove non alphanumerics
    return text 
columns = ["Actual gross" , "Actual gross(in 2022 dollars)" , "Average gross"]
for column in columns:
    df[column] = df[column].apply(clean_text)

df

,Rank,Peak,All Time Peak,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,780000000,780000000,Taylor Swift,The Eras Tour †,2023–2024,56,13928571,1
1,2,1,7[2],579800000,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571,3
2,3,1[4],2[5],411000000,560622615,Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,4835294,6
3,4,2[7],10[7],397300000,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795,7
4,5,2[4],NaN,345675146,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173,8
5,6,2[4],10[9],305158363,388978496,Madonna,The MDNA Tour,2012,88,3467709,9
6,7,2[10],NaN,280000000,381932682,Celine Dion,Taking Chances World Tour,2008–2009,131,2137405,11
7,7,NaN,NaN,257600000,257600000,Pink,Summer Carnival †,2023–2024,41,6282927,12
8,9,NaN,NaN,256084556,312258401,Beyoncé,The Formation World Tour,2016,49,5226215,13
9,10,NaN,NaN,250400000,309141878,Taylor Swift,The 1989 World Tour,2015,85,2945882,14
10,11,NaN,NaN,229100000,283202896,Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,1735606,1516
11,12,NaN,14[17],227400000,295301479,Lady Gaga,The Monster Ball Tour *,2009–2011,203,1118227,18
12,13,NaN,NaN,204000000,251856802,Katy Perry,Prismatic World Tour,2014–2015,151,1350993,19
13,14,1[20],NaN,200000000,299676265,Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,615385,20
14,15,2[c],NaN,194000000,281617035,Madonna,Confessions Tour,2006,60,3233333,5
15,16,NaN,NaN,184000000,227452347,Pink,The Truth About Love Tour,2013–2014,142,1295775,22
16,17,NaN,NaN,170000000,213568571,Lady Gaga,Born This Way Ball,2012–2013,98,1734694,d
17,18,NaN,NaN,169800000,207046755,Madonna,Rebel Heart Tour,2015–2016,82,2070732,4
18,19,NaN,NaN,167700000,204486106,Adele,Adele Live 2016,2016–2017,121,1385950,25
19,20,NaN,NaN,150000000,185423109,Taylor Swift,The Red Tour,2013–2014,86,1744186,26

In [14]:
def clean_peak(text):
    if not pd.isna(text):
        text =  re.sub(r"\[\s*.*?\s*\]", "" , text)#again remove any [ ] and anything inside it.
    return text
columns = ["Peak" , "All Time Peak"]
for column in columns:
    df[column] = df[column].apply(clean_peak)
df

,Rank,Peak,All Time Peak,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,780000000,780000000,Taylor Swift,The Eras Tour †,2023–2024,56,13928571,1
1,2,1,7,579800000,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571,3
2,3,1,2,411000000,560622615,Madonna,Sticky & Sweet Tour ‡[4][a],2008–2009,85,4835294,6
3,4,2,10,397300000,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795,7
4,5,2,NaN,345675146,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173,8
5,6,2,10,305158363,388978496,Madonna,The MDNA Tour,2012,88,3467709,9
6,7,2,NaN,280000000,381932682,Celine Dion,Taking Chances World Tour,2008–2009,131,2137405,11
7,7,NaN,NaN,257600000,257600000,Pink,Summer Carnival †,2023–2024,41,6282927,12
8,9,NaN,NaN,256084556,312258401,Beyoncé,The Formation World Tour,2016,49,5226215,13
9,10,NaN,NaN,250400000,309141878,Taylor Swift,The 1989 World Tour,2015,85,2945882,14
10,11,NaN,NaN,229100000,283202896,Beyoncé,The Mrs. Carter Show World Tour,2013–2014,132,1735606,1516
11,12,NaN,14,227400000,295301479,Lady Gaga,The Monster Ball Tour *,2009–2011,203,1118227,18
12,13,NaN,NaN,204000000,251856802,Katy Perry,Prismatic World Tour,2014–2015,151,1350993,19
13,14,1,NaN,200000000,299676265,Cher,Living Proof: The Farewell Tour ‡[21][a],2002–2005,325,615385,20
14,15,2,NaN,194000000,281617035,Madonna,Confessions Tour,2006,60,3233333,5
15,16,NaN,NaN,184000000,227452347,Pink,The Truth About Love Tour,2013–2014,142,1295775,22
16,17,NaN,NaN,170000000,213568571,Lady Gaga,Born This Way Ball,2012–2013,98,1734694,d
17,18,NaN,NaN,169800000,207046755,Madonna,Rebel Heart Tour,2015–2016,82,2070732,4
18,19,NaN,NaN,167700000,204486106,Adele,Adele Live 2016,2016–2017,121,1385950,25
19,20,NaN,NaN,150000000,185423109,Taylor Swift,The Red Tour,2013–2014,86,1744186,26

In [15]:
def clean_title(text):
    text =  re.sub(r"[^a-zA-Z ]", "" , text)#any character other than alphabets is cleared
    return text
df["Tour title"] = df["Tour title"].apply(clean_title)

In [17]:
df["Ref."] = df["Ref."].replace("1516" , "16")
df["Ref."] = df["Ref."].replace("d" , "10")

In [18]:
df

,Rank,Peak,All Time Peak,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1,2,780000000,780000000,Taylor Swift,The Eras Tour,2023–2024,56,13928571,1
1,2,1,7,579800000,579800000,Beyoncé,Renaissance World Tour,2023,56,10353571,3
2,3,1,2,411000000,560622615,Madonna,Sticky Sweet Tour a,2008–2009,85,4835294,6
3,4,2,10,397300000,454751555,Pink,Beautiful Trauma World Tour,2018–2019,156,2546795,7
4,5,2,NaN,345675146,402844849,Taylor Swift,Reputation Stadium Tour,2018,53,6522173,8
5,6,2,10,305158363,388978496,Madonna,The MDNA Tour,2012,88,3467709,9
6,7,2,NaN,280000000,381932682,Celine Dion,Taking Chances World Tour,2008–2009,131,2137405,11
7,7,NaN,NaN,257600000,257600000,Pink,Summer Carnival,2023–2024,41,6282927,12
8,9,NaN,NaN,256084556,312258401,Beyoncé,The Formation World Tour,2016,49,5226215,13
9,10,NaN,NaN,250400000,309141878,Taylor Swift,The World Tour,2015,85,2945882,14
10,11,NaN,NaN,229100000,283202896,Beyoncé,The Mrs Carter Show World Tour,2013–2014,132,1735606,16
11,12,NaN,14,227400000,295301479,Lady Gaga,The Monster Ball Tour,2009–2011,203,1118227,18
12,13,NaN,NaN,204000000,251856802,Katy Perry,Prismatic World Tour,2014–2015,151,1350993,19
13,14,1,NaN,200000000,299676265,Cher,Living Proof The Farewell Tour a,2002–2005,325,615385,20
14,15,2,NaN,194000000,281617035,Madonna,Confessions Tour,2006,60,3233333,5
15,16,NaN,NaN,184000000,227452347,Pink,The Truth About Love Tour,2013–2014,142,1295775,22
16,17,NaN,NaN,170000000,213568571,Lady Gaga,Born This Way Ball,2012–2013,98,1734694,10
17,18,NaN,NaN,169800000,207046755,Madonna,Rebel Heart Tour,2015–2016,82,2070732,4
18,19,NaN,NaN,167700000,204486106,Adele,Adele Live,2016–2017,121,1385950,25
19,20,NaN,NaN,150000000,185423109,Taylor Swift,The Red Tour,2013–2014,86,1744186,26

In [19]:
numeric_cols = ["Actual gross" , "Actual gross(in 2022 dollars)" 
                , "Average gross" , "Shows" , "Ref." , "Peak" , "All Time Peak"]
for cols in numeric_cols :
    df[cols] = df[cols].astype("float")

In [20]:
df

,Rank,Peak,All Time Peak,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,1.0,2.0,780000000.0,780000000.0,Taylor Swift,The Eras Tour,2023–2024,56.0,13928571.0,1.0
1,2,1.0,7.0,579800000.0,579800000.0,Beyoncé,Renaissance World Tour,2023,56.0,10353571.0,3.0
2,3,1.0,2.0,411000000.0,560622615.0,Madonna,Sticky Sweet Tour a,2008–2009,85.0,4835294.0,6.0
3,4,2.0,10.0,397300000.0,454751555.0,Pink,Beautiful Trauma World Tour,2018–2019,156.0,2546795.0,7.0
4,5,2.0,NaN,345675146.0,402844849.0,Taylor Swift,Reputation Stadium Tour,2018,53.0,6522173.0,8.0
5,6,2.0,10.0,305158363.0,388978496.0,Madonna,The MDNA Tour,2012,88.0,3467709.0,9.0
6,7,2.0,NaN,280000000.0,381932682.0,Celine Dion,Taking Chances World Tour,2008–2009,131.0,2137405.0,11.0
7,7,NaN,NaN,257600000.0,257600000.0,Pink,Summer Carnival,2023–2024,41.0,6282927.0,12.0
8,9,NaN,NaN,256084556.0,312258401.0,Beyoncé,The Formation World Tour,2016,49.0,5226215.0,13.0
9,10,NaN,NaN,250400000.0,309141878.0,Taylor Swift,The World Tour,2015,85.0,2945882.0,14.0
10,11,NaN,NaN,229100000.0,283202896.0,Beyoncé,The Mrs Carter Show World Tour,2013–2014,132.0,1735606.0,16.0
11,12,NaN,14.0,227400000.0,295301479.0,Lady Gaga,The Monster Ball Tour,2009–2011,203.0,1118227.0,18.0
12,13,NaN,NaN,204000000.0,251856802.0,Katy Perry,Prismatic World Tour,2014–2015,151.0,1350993.0,19.0
13,14,1.0,NaN,200000000.0,299676265.0,Cher,Living Proof The Farewell Tour a,2002–2005,325.0,615385.0,20.0
14,15,2.0,NaN,194000000.0,281617035.0,Madonna,Confessions Tour,2006,60.0,3233333.0,5.0
15,16,NaN,NaN,184000000.0,227452347.0,Pink,The Truth About Love Tour,2013–2014,142.0,1295775.0,22.0
16,17,NaN,NaN,170000000.0,213568571.0,Lady Gaga,Born This Way Ball,2012–2013,98.0,1734694.0,10.0
17,18,NaN,NaN,169800000.0,207046755.0,Madonna,Rebel Heart Tour,2015–2016,82.0,2070732.0,4.0
18,19,NaN,NaN,167700000.0,204486106.0,Adele,Adele Live,2016–2017,121.0,1385950.0,25.0
19,20,NaN,NaN,150000000.0,185423109.0,Taylor Swift,The Red Tour,2013–2014,86.0,1744186.0,26.0

In [21]:
#drop columns with too many missing values
df = df.drop(["All Time Peak" , "Peak"] , axis =1)
df

,Rank,Actual gross,Actual gross(in 2022 dollars),Artist,Tour title,Year(s),Shows,Average gross,Ref.
0,1,780000000.0,780000000.0,Taylor Swift,The Eras Tour,2023–2024,56.0,13928571.0,1.0
1,2,579800000.0,579800000.0,Beyoncé,Renaissance World Tour,2023,56.0,10353571.0,3.0
2,3,411000000.0,560622615.0,Madonna,Sticky Sweet Tour a,2008–2009,85.0,4835294.0,6.0
3,4,397300000.0,454751555.0,Pink,Beautiful Trauma World Tour,2018–2019,156.0,2546795.0,7.0
4,5,345675146.0,402844849.0,Taylor Swift,Reputation Stadium Tour,2018,53.0,6522173.0,8.0
5,6,305158363.0,388978496.0,Madonna,The MDNA Tour,2012,88.0,3467709.0,9.0
6,7,280000000.0,381932682.0,Celine Dion,Taking Chances World Tour,2008–2009,131.0,2137405.0,11.0
7,7,257600000.0,257600000.0,Pink,Summer Carnival,2023–2024,41.0,6282927.0,12.0
8,9,256084556.0,312258401.0,Beyoncé,The Formation World Tour,2016,49.0,5226215.0,13.0
9,10,250400000.0,309141878.0,Taylor Swift,The World Tour,2015,85.0,2945882.0,14.0
10,11,229100000.0,283202896.0,Beyoncé,The Mrs Carter Show World Tour,2013–2014,132.0,1735606.0,16.0
11,12,227400000.0,295301479.0,Lady Gaga,The Monster Ball Tour,2009–2011,203.0,1118227.0,18.0
12,13,204000000.0,251856802.0,Katy Perry,Prismatic World Tour,2014–2015,151.0,1350993.0,19.0
13,14,200000000.0,299676265.0,Cher,Living Proof The Farewell Tour a,2002–2005,325.0,615385.0,20.0
14,15,194000000.0,281617035.0,Madonna,Confessions Tour,2006,60.0,3233333.0,5.0
15,16,184000000.0,227452347.0,Pink,The Truth About Love Tour,2013–2014,142.0,1295775.0,22.0
16,17,170000000.0,213568571.0,Lady Gaga,Born This Way Ball,2012–2013,98.0,1734694.0,10.0
17,18,169800000.0,207046755.0,Madonna,Rebel Heart Tour,2015–2016,82.0,2070732.0,4.0
18,19,167700000.0,204486106.0,Adele,Adele Live,2016–2017,121.0,1385950.0,25.0
19,20,150000000.0,185423109.0,Taylor Swift,The Red Tour,2013–2014,86.0,1744186.0,26.0